<!DOCTYPE html>
<html lang = "en">

   <head>
      <meta charset = "UTF-8"></meta>
      <title>React App</title>
	    <link rel="stylesheet" href="joint.css" />
		<script src="jquery.min.js"></script>
		<script src="lodash.min.js"></script>
		<script src="backbone.min.js"></script>
		<script src="joint.js"></script>
		<script src="constants.js"></script>
		<script src="tool.js"></script>
   </head>

   <body>
   	  <div><span th:inline="text">Hello, [[${#httpServletRequest.remoteUser}]]!</span><form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form></div>
      <div id = "app"></div>
      <script src = "./built/bundle.js"></script>
	  <!-- <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>  -->
        
   </body>

</html>